.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .row {
    display: flex;
  }
  
  .cell {
    width: 60px;
    height: 60px;
    border: 2px solid #ccc;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    text-transform: uppercase;
  }
  
  .green {
      background-color: green;
      color: white;
  }
  .yellow{
      background-color: yellow;
  }
  .black{
      background-color: grey;
      color:white;
  }